body {
  margin: 0;
  padding: 0;
  background: #222;
  font-size: 16px;
  color: #eaeaea;
  font-family: Optima, Arial;
  -webkit-font-smoothing: antialiased;
}

/* General & 'Reset' Stuff */

.container {
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
}

.content {
  width: 100%;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.01em;
  padding: 0.7em 0;
  margin: 0 0 0 -1em;
}

h1 {
  font-size: 1.7em;
  line-height: 2em;
  letter-spacing: -0.01em;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: -0.8em;
  font-weight: bold;
  color: #fff;
  font-family: Monaco;
}

h1>a {
  color: #fff;
  text-shadow: none;
}

h2 {
  color: #FCC240;
  line-height: 1.2em;
  font-size: 2.5em;
  margin-left:-0.6em;
  font-weight:bold;
  text-shadow: 0 2px 2px rgba(0,0,0,0.75);
  font-family: 'Helvetica Neue', Helvetica, Arial;
}

h3 {
  color: #FCC240;
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Helvetica Neue', Helvetica, Arial;
}

p, ul {
  font-size: 1.4em;
  padding: 0.5em 0;
  margin:0;
}
p:last-child, ul:last-child {
  padding-bottom: 2em;
}

footer {
  width: 100%;
  border-top: 1px dashed rgb(207, 106, 75);
  padding: 20px 0;
  margin: 0;
}
footer p {
  font-size: 0.9em;
}

header {
  width: 100%;
  border-bottom: 1px dashed rgb(207, 106, 75);
}

.headline {
  width:100%;
  border-bottom: 1px dashed rgb(207, 106, 75);
}

header span {
  font-size: 0.6em;
  font-weight: 300;
  padding-left: 0.2em;
}

ul {
  list-style: none;
}

li {
  line-height: 1.4em;
}

section img {
  max-width: 100%
}

blockquote {
  color: #aaa;
  padding-left: 10px;
  border-left: 1px dotted #666;
}

pre {
  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 10px;
  font-size: 14px;
  color: #b5e853;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  text-wrap: normal;
  overflow: auto;
  overflow-y: hidden;
}

table {
  width: 100%;
  margin: 0 0 20px 0;
}

th {
  text-align: left;
  border-bottom: 1px dashed #b5e853;
  padding: 5px 10px;
}

td {
  padding: 5px 10px;
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #b5e853;
  color: #b5e853;
}

/* Links
   a, a:hover, a:visited
*/

a {
  color: #63c0f5;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
  text-decoration: none;
}

/* IndieWeb h-card & h-entry */

.p-nickname, .u-url, .p-note, .u-photo {
  display: none;
}

.h-entry .p-name, .h-entry .p-author, .h-entry .dt-published, .h-entry .u-url {
  display: none;
}

/* Make bigger font becauseidth of device is small */
@media all and (max-device-width : 400px) {

  body {
    font-size: 45px;
  }

  h1, h2, h3, h4, h5, h6 {
    padding: 0.4em 0;
    margin: 0 0 0 -0.2em;
  }

  h1 {
    line-height: 0.8em;
  }

  h2 {
    font-size: 1.5em;
  }

}

/* iPad and smaller (device-width) or screen-size smaller than max-width */
@media all and (max-device-width : 768px), all and (max-width: 749px) {

 .container {
    max-width: none;
    width: 90%;
    margin: 0 auto;
  }

}
