body {
  margin: 0;
  padding: 0;
  background: #222;
  font-size: 16px;
  color: #222;
  font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Lucida Sans, Segoe UI, Calibri, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* SVG */
text, tspan {
  font-family: MyriadPro-Regular, 'Myriad Pro Regular', MyriadPro, 'Myriad Pro', Lucida Sans, Segoe UI, Calibri, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  fill: #222;
  font-size:12;
}

/* General & 'Reset' Stuff */

.container {
  width: 90%;
  max-width: 750px;
  margin: 0 auto;
}

.content {
  width: 100%;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.01em;
  padding: 0.7em 0;
  margin: 0;
}

h1 {
  font-size: 1.7em;
  line-height: 2em;
  letter-spacing: -0.01em;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: -0.8em;
  font-weight: bold;
  color: #fff;
  font-family: Monaco;
}

h1>a {
  color: #fff;
  text-shadow: none;
}

h2 {
  color: #FCC240;
  line-height: 1.2em;
  font-size: 2.5em;
  font-weight:bold;
  text-shadow: 0 2px 2px rgba(0,0,0,0.75);
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
}

p, ul, blockquote {
  font-size: 1.4em;
  margin: 0.7em 0;
  padding: 0;
}

p.hint {
  background-color: #eee;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0.5em;
  margin-top: 1em;
}

p:first-child, ul:first-child, blockquote:first-child {
  padding-top: 1em;
  margin-top: 0;
}
p:last-child, ul:last-child, blockquote:last-child {
  padding-bottom: 2em;
  margin-bottom: 0;
}

footer {
  width: 100%;
  border-top: 1px dashed rgb(207, 106, 75);
  padding: 20px 0;
  margin: 0;
}
footer p {
  font-size: 0.9em;
}

header {
  width: 100%;
  border-bottom: 1px dashed rgb(207, 106, 75);
}

.headline {
  width:100%;
  border-bottom: 1px dashed rgb(207, 106, 75);
}

header span {
  font-size: 0.6em;
  font-weight: 300;
  padding-left: 0.2em;
}

ul {
  list-style: outside;
  padding-left: 1.3em;
}

section img {
  max-width: 100%
}

hr {
  height: 0;
  border: 0;
  border-bottom: 1px dashed #b5e853;
  color: #b5e853;
}

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.85em;
  background-color: #f8f8f8;
  border-radius: 4px;
  border: 1px solid #e7e7e7;
  padding: 0 5px;
}

blockquote {
  border-left: 4px solid #ddd;
  padding-left: 15px;
  color: #777;
}

blockquote p {
  padding: 0;
}

/* Links
   a, a:hover, a:visited
*/

a {
  color: #63c0f5;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
  text-decoration: none;
}

.content a {
  color: #1476AD;
}

/* IndieWeb h-card & h-entry */

.p-nickname, .u-url, .p-note, .u-photo {
  display: none;
}

.h-entry .p-name, .h-entry .p-author, .h-entry .dt-published, .h-entry .u-url {
  display: none;
}

/* Make bigger font becauseidth of device is small */
@media all and (max-device-width : 400px) {

  body {
    font-size: 35px;
  }

  h1, h2, h3, h4, h5, h6 {
    padding: 0.4em 0;
    margin: 0;
  }

  h1 {
    line-height: 0.8em;
  }

  h2 {
    font-size: 1.5em;
  }

}

/* iPad and smaller (device-width) or screen-size smaller than max-width */
@media all and (max-device-width : 768px), all and (max-width: 749px) {

 .container {
    max-width: none;
    width: 90%;
    margin: 0 auto;
  }

}
